@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.2rem;
  }
}
